.plugin-ads {
  &.nonlinear {
    position: absolute;
    bottom: 50px;
    z-index: 3;
    cursor: pointer;

    & span {
      // content: '&#10006;';
      position: absolute;
      top: -7px;
      right: -7px;
      color: black;
      background: #fff;
      padding: 0 2px;
      opacity: .8;
      cursor: pointer;
      font-size: 15px;
    }
  }

  &.linear-skip {
    position: absolute;
    z-index: 3;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    right: 1em;
    bottom: 1em;
    font-size: 1.4em;
    font-weight: 600;
    background-color: rgba(6, 6, 13, 0.7);
    padding: .6em 1em;
    padding-right: 45px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
    border: 0;
    border-radius: 0.25em;
    color: rgba(255, 255, 255, .9);
    line-height: 100%;

    &:hover {
      color: #FFFFFF;
    }
  }

  &.icon {
    background-image: url(/assets/img/skipad.svg);
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-1px);
    margin-left: 16px;
    position: absolute;
  }

  &.linear-text {
    position: absolute;
    z-index: 3;
    height: 2.6em;
    line-height: 2.6em;
    font-size: 1em;
    font-weight: 400;
    background: transparent;
    width: 9em;
    height: 2.6em;
    line-height: 2.6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-left: auto;
    font-size: 1em !important;
    top: .5em;
    left: .5em;
    padding: 0;
    margin: 0;
  }
}
